<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.CamplistMapper">


		<select id="campFilter" resultType="CampVO" parameterType="map">
		    SELECT cno, title, intro, poster, induty, lctcl, addr,doNm,price,animalcmgcl, num
		    FROM (
		        SELECT cno, title, intro, poster, induty, lctcl, addr,doNm,price,animalcmgcl, rownum AS num
		        FROM (
		            SELECT /*+ INDEX_ASC(camp camp_cno_pk) */
		                   cno, title, intro, poster, induty, lctcl, addr,doNm,price,animalcmgcl 
		            FROM camp
		            WHERE poster IS NOT NULL
		            <if test="locations != null and locations.size > 0">
				        AND (
				            <foreach item="loc" collection="locations" separator="OR">
				                doNm LIKE '%' || #{loc} || '%'
				            </foreach>
				        )
				    </if>
				    
			        <!-- 가격 필터 -->
		       	    <if test="minPrice != null">
			          AND price &gt;= #{minPrice}
			        </if>
			
			        <if test="maxPrice != null">
			          AND price &lt;= #{maxPrice}
			        </if>
			        
			        <!-- 펫 가능 필터 -->
			        <if test="pet != null and pet != ''">
					  AND animalCmgCl = #{pet}
					</if>
					
					<!-- 캠핑장 종류 필터 -->
					<if test="types !=null and types.size > 0">
					  AND (
					    <foreach item="t" collection="types" separator="OR">
					      induty LIKE '%' || #{t} || '%'
					    </foreach>
					  )
					</if>
		        )
		    )
		    WHERE num BETWEEN #{start} AND #{end}
		</select>

		<select id="campFilterTotalPage" resultType="int" parameterType="map">
		    SELECT COUNT(*) 
		    FROM camp
		    WHERE poster IS NOT NULL
            <if test="locations != null and locations.size > 0">
		        AND (
		            <foreach item="loc" collection="locations" separator="OR">
		                doNm LIKE '%' || #{loc} || '%'
		            </foreach>
		        )
		    </if>
		    
		    <!-- 가격 필터 -->
            <if test="minPrice != null">
	          AND price &gt;= #{minPrice}
	        </if>
	
	        <if test="maxPrice != null">
	          AND price &lt;= #{maxPrice}
	        </if>
	        
       		<!-- 펫 가능 필터 -->
	        <if test="pet != null and pet != ''">
			  AND animalCmgCl = #{pet}
			</if>
			
			<if test="types != null and types.size > 0 ">
			  AND (
			  	<foreach item="t" collection="types" separator="OR">
			  	  induty LIKE '%' || #{t} || '%'
			  	</foreach>
			  )			  
			</if>
			
		</select>

</mapper>