# Eclipse 관련
.project
.classpath
.settings/

# 빌드 결과물
target/
bin/
build/

# OS별 파일
.DS_Store
Thumbs.db

# 로그 파일
*.log

# 임시 파일
*.tmp
*.swp

# IDE 관련
.idea/
*.iml

pom.properties
 */target/*
 /build/
 MANIFEST.MF

