<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.sist.vo.CampVO" alias="CampVO"/>
 		<typeAlias type="com.sist.vo.ChefVO" alias="ChefVO"/>
 		<typeAlias type="com.sist.vo.RecipeVO" alias="RecipeVO"/>
 		<typeAlias type="com.sist.vo.RecentRecipeVO" alias="RecentRecipeVO"/>
 		<typeAlias type="com.sist.vo.ReserveVO" alias="ReserveVO"/>
 		<typeAlias type="com.sist.vo.ReserveDetailVO" alias="ReserveDetailVO"/>
 		<typeAlias type="com.sist.vo.SiteVO" alias="SiteVO"/>
 		<typeAlias type="com.sist.vo.ReviewVO" alias="ReviewVO"/>
 		<typeAlias type="com.sist.vo.CartVO" alias="CartVO"/>
 		<typeAlias type="com.sist.vo.ItemVO" alias="ItemVO"/> 	
 	</typeAliases>
  <mappers>
 	<mapper resource="com/sist/mapper/camplist-mapper.xml"/>
 	<mapper resource="com/sist/mapper/recipe-mapper.xml"/>
 	<mapper resource="com/sist/mapper/reserve-mapper.xml"/>
 	<mapper resource="com/sist/mapper/commons-mapper.xml"/>
	<mapper resource="com/sist/mapper/item-mapper.xml"/>
  </mappers>
</configuration>